/* Start Global Rules */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
}
@media (max-width: 767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    padding: 0 30px;
    color: black;
    overflow: hidden;
    transition: var(--main-transition);
}

.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
    left: 0;
}
/* End Header */
/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    color: #666;
    line-height: 1.7;
    font-size: 23px;
    margin: 5px 0 0;
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .text o {
        font-size: 18px;
    }
}

.landing .image img {
    position: relative;
    width: 470px;
    animation: up-down 4s linear infinite;
}
@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Products */
.products {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    background-color: var(--main-color);
    border: 2px solid white;
    transition-delay: 0.5s;
}
.products .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.products .box {
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.products .box:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.products .box img {
    width: 100%;
    max-width: 100%;
    height: 162.46px;
}
.products .box .content {
    padding: 20px;
}
.products .box .content h3 {
    margin: 0;
}
.products .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.products .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .box .info a {
    color: var(--main-color);
    font-weight: bold;
}
.products .box .info i {
    color: var(--main-color);
    font-size: 15px;
}
.products .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}

.add-product {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input,
#category {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="file"]::file-selector-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit,
.delete {
    margin: 0 0 10px 10px;
}
/* End Products */
/* Start Stats */
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-image: url(../images/stats.jpg);
    background-size: cover;
    min-height: 300px;
}
.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .box {
    position: relative;
    background-color: white;
    text-align: center;
    padding: 30px 15px;
    opacity: 0.8;
    transition: var(--main-transition);
}
.stats .container .box::before,
.stats .container .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
}
.stats .container .box::before {
    top: 0;
    right: 0;
}
.stats .container .box::after {
    bottom: 0;
    left: 0;
}
.stats .container .box:hover {
    opacity: 1;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}
.stats .container .box .num {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stats .container .box .text {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
/* End Stats */
/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
@media (max-width: 768px) {
    .footer .container {
        text-align: center;
    }
}
.footer .box h3 {
    font-size: 50px;
    color: white;
    margin: 0 0 20px;
}
.footer .box .social {
    display: flex;
}
@media (max-width: 768px) {
    .footer .box .social {
        justify-content: center;
    }
}
.footer .box .social li {
    margin-right: 10px;
    margin-bottom: 20px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
    background-color: #1877f2;
}
.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
    background-color: #ff0000;
}
.footer .box .text {
    color: #b9b9b9;
    line-height: 2;
}
.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
    padding-left: 10px;
}
.footer .box .links li:hover a {
    color: white;
}
.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .box .links li a::before {
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 768px) {
    .footer .box .line {
        flex-direction: column;
    }
}
.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
@media (max-width: 768px) {
    .footer .box .line i {
        margin-bottom: 10px;
    }
}
.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
.footer .box .line .info span {
    display: block;
}
.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* End Footer */
/* Start Animation */
@keyframes up-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
/* End Animation */
